<!-- <item></item> -->
<!-- <div class="panel-date">
    {{form.date}}
</div> -->

<!-- <div class="panel-rate"
[class]="positiveChanges ? 'positive' : 'negative'">
    {{form.rate}} % 
</div> -->

<!-- <table id="panel-table">
    <thead>
        <th colspan="2">Today</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of items"
            [item] = item>
            <td>{{item.status}}</td>
            <td>{{item.content}}</td>
        </tr>
    </tbody>
</table> -->

<item *ngFor="let item of items" [item]="item"
        (toggleStatus)="onToggleStatus($event)"></item>
