<div class="welcome-container">

  <div class="bgimg-1" id="home">
      <div class="welcome-display-middle"  style="white-space:nowrap;">
        <span class="welcome-logo welcome-animate-opacity">被讨厌的勇气</span>
      </div>
    </div>

<div class="content" id="about">
    <h3>About Me</h3>
    <p>毫不在意别人的评价<br/>
        不害怕被别人讨厌<br/>
        不追求被他人认可<br/>
        如果不付出以上这些代价，那就无法贯彻自己的生活方式，也就是不能获得自由。
    </p>
</div>

    <!-- Second Parallax Image with Portfolio Text -->
  <div class="bgimg-2" id="name">
      <div class="welcome-display-middle">
        <span class="welcome-logo">Xiaoying</span>
      </div>
    </div>

</div>

