<div class="welcome-container">

  <div class="bgimg-1" id="home">
      <div class="welcome-display-middle"  style="white-space:nowrap;">
        <span class="welcome-logo welcome-animate-opacity">Xiaoying</span>
      </div>
    </div>

<div class="content" id="about">
    <h3>About Me</h3>
    <p>For my first webpage<br/><br/>
      For the long and sunless winter night<br/><br/>
      For time to be lonely
    </p>
</div>

    <!-- Second Parallax Image with Portfolio Text -->
  <div class="bgimg-2" id="name">
      <div class="welcome-display-middle">
        <span class="welcome-logo">Profile</span>
      </div>
    </div>

</div>

