ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
nav a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}

nav {
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    background: #000;
    opacity:0.85;
}

/* .burger {
    height: 15vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
}
.burger:hover {
    background: mix(black, 10);
}

.nav_list {
    display: flex;
    flex-flow: column wrap;
    height: 85vh;
    transform: translate(0, -100%);
}

.nav_item {
    flex: 1;
    position: relative;
} */
/* 
.nav_link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    font-size: 24px;
}

.nav_link:hover {
    background: mix(black, 10);
} */