
<div class="container-login" style="background-image: url('../../../assets/img/1.jpg');">
    <div class="wrap-login p-t-30 p-b-50">
        <form class="form-login p-b-33 p-t-5">
            <span class="form-title p-b-41">
                Make things happen
            </span>
            <div class="wrap-input validate-input ">
                <input class="input-login" type="text" name="username" placeholder="User name">
                <span class="focus-input"></span>
            </div>
            <br/>
            <div class="wrap-input validate-input m-t-15">
                <input class="input-login" type="password" name="password" placeholder="Password">
                <span class="focus-input"></span>
            </div>
            <div class="container-btn m-t-32">
                <button class="login-btn">
                    Login
                </button>
            </div>


            <div class="text-center p-t-136">
                <a class="a-register" href="#">
                    Create your account
                </a>

                <!-- <a [routerLink]="['/register']" routerLinkActive="router-link-active" 
                class="nav_link">Register</a>

                <router-outlet></router-outlet> -->
            </div>
        </form>
    </div>



</div>