form{
    list-style: none;
    list-style-position: outside;
    margin: 0px;
    font-family: Verdana;
    font-size: 12px;
    background-color: black;
    opacity: 0.8;
}

.positive{
    background-color:  rgb(244, 227, 253);
}

.negative{
    background-color:  rgb(202, 202, 202);
}
