<h2>Create Item</h2>
<div class="form-group">
    <form [formGroup]="createItemForm" (ngSubmit)="onSubmit()">
        <div class="item-status">
            <input type="checkbox"
                    id="status"
                    name="status"
                    formControlName="status">
        </div>
        <div class="item-content">
            <input type="text"
                     placeholder="To do"
                     name="content"
                     formControlName="content">
            <div *ngIf="createItemForm.get('content').invalid &&
                        (createItemForm.get('content').dirty ||
                         createItemForm.get('content').touched)">
            Make a wish~
            </div>
        </div>
        <button type="submit">Submit</button>
        <!-- <button type="button" (click)="resetForm()">Reset</button>
        <button type="button" (click)="loadFromServer()">Load from server</button> -->
    </form>

</div>

<p>Form Control value: {{createItemForm.value | json}}</p>
<p>Form Control status: {{createItemForm.status | json}}</p>