<h2>New Form</h2>
<div class="form-group">
    <form [formGroup]="newForm" (ngSubmit)="onSubmit()">
        <div formArrayName="members">
            <div *ngFor = "let member of members.controls; let i =index"
                [formGroupName]="i"
                class="container-member">
                <div>
                    Person {{i+1}}
                </div>
                <div>
                    <input type="text"
                            placeholder="Person name"
                            formControlName="name">
                </div>
                <div>
                    <input type="text"
                            placeholder="Person Title"
                            formControlName="title">
                </div>
 
                <button type="button"
                        (click)="removeMember()">
                    Remove member</button>
            </div>
        </div>
        <button type="button"
                (click)="addMember()">
             Add member</button>
        <button type="submit">Submit</button>
        <button type="button" (click)="resetForm()">Reset</button>
        <!-- 
        <button type="button" (click)="loadFromServer()">Load from server</button> -->
    </form>

</div>
<!-- 
<p>Form Control value: {{newForm.value | json}}</p>
<p>Form Control status: {{newForm.status | json}}</p> -->