
<div class="container-login" style="background-image: url('../../../assets/img/1.jpg');">
    <div class="wrap-login p-t-30 p-b-50">
        <div class="login-title p-b-41">
            Make things happen
        </div>
        <form class="login-form p-b-33 p-t-5">
            <div class="wrap-input">
                <input class="login-input" type="text" name="username" placeholder="User name">
                <span class="focus-input" data-placeholder="&#xe80f;"></span>
            </div>
            <div class="wrap-input">
                <input class="login-input" type="password" name="password" placeholder="Password">
                <span class="focus-input" data-placeholder="&#xe80f;"></span>
            </div>
            <div class="container-login-btn m-t-32">
                <button class="login-btn">
                    Login
                </button>
            </div>
        </form>
    </div>



</div>