<div class="container-form" style="background-image: url('../../../assets/img/blue.jpg');">
    <div class="wrap-form p-t-30 p-b-5">
        <form class="form-register p-b-33 p-t-5">
            <div class="form-title p-b-41">
                Register
            </div>
            <div class="wrap-input validate-input ">
                <input class="input-login" type="text" name="username" placeholder="User name">
                <span class="focus-input"></span>
            </div>
            <div class="wrap-input validate-input m-t-15">
                <input class="input-login" type="password" name="password" placeholder="Password">
                <span class="focus-input"></span>
            </div>
            <div class="wrap-input validate-input m-t-15">
                <input class="input-login" type="password" name="password" placeholder="Repeat password">
                <span class="focus-input"></span>
            </div>
        
            <div class="container-btn m-t-32">
                <button class="btn-l-b">
                    Register
                </button>
            </div>
        </form>
    </div>
    
</div>
